
<div>
  <div class="banner-content">
  </div>
    <div id="inner-nav"></div>
    <div id="container" >
        <div id="profile">

              <div id="image" style="margin-bottom: 10px;">
                <img id="profile-photo" src= "http://3.10.154.164/return-files/{{admin.ImageUrl}}" alt="Profile-Image">
              </div>

              <p id="name" >{{admin.firstName}} {{admin.lastName}}<br></p>
              <hr width="100%">
              <p style="color:#8c9398">E-mail<br><span id="email">{{admin.email}}</span></p>


            <div class="ban-buttons" style="width: max-content;">
              <a href="/#/admin/contacts" class="btn" id="options">Contacts</a><br>
              <a href="/#/admin/users" class="btn" id="options">Users</a><br>
              <a href="/#/admin/applications" class="btn" style="margin-bottom: 15%;" id="options">Applications</a>
            </div>



        </div>

    </div>

    </div>
    
