<div>
    <div class="banner-content" id="home">
    <!-- header -->
    <div class="banner-info-w3pvt">
        <h3>Are you ready to join us?</h3>
        <p class="my-4">Do you have a question on your mind? Are you looking for a lecturer to answer your question? Are you struggling with your homework? Do you want to take lessons anytime, anywhere, with any lecturer you want? We are waiting for you with all our lecturers, click  <b> Sign Up </b> right now and join us!</p>
        <div class="ban-buttons" style="width: max-content;">
            <a *ngIf="!user" href="/#/auth" class="btn">Sign In</a>
            <a *ngIf="!user" href="/#/auth" class="btn">Sign Up</a>
            <a *ngIf="!user" href="#" class="btn" (click)="application()">Lecturer Application</a>
        </div>
    </div>
    </div>

    <section class="about">
      <div style="height: 300px; text-align:center;margin:15px auto; padding:0; width:100%">
        <ng-image-slider #nav [images]="allvideos" [infinite]="true" [autoSlide]="1"
         [imagePopup]="imagePopUp" [imageSize]="{width: '25%', height:300}" slideImage="1"></ng-image-slider>
      </div>
    </section>
    <section class="stats">
        <div class="middle-tem-insidel ">
            <div class="right-side-img-tem-inside">
            </div>
            <section class="about"  style="margin: 15px auto; width:100%; height:35em;" >
                <full-calendar #fullcalendar [options]="calendarOptions" class="calendar" ></full-calendar>
            </section>
        </div>
    </section>

    <section class="stats" style="margin-bottom: 15px; background-color: #df403c;">
        <div class="middle-tem-insidel ">
            <section class="about"  style="margin: 15px auto; width:100%; height:38em;" >
                <div class="container" style="max-width:100%; height: 38em;">
                    <div class="inner-sec-w3ls py-4">
                        <h3 class="tittle text-center my-3"  style="color: #fff "><span class="sub-tittle"></span> Our Great Professors</h3>
                        <div class="row mt-4 lecture">
                            <div class="col-md-2 team-gd text-center"  *ngFor="let best of bestlecturer">
                                <div class="team-img" style="min-height: 150px;">
                                    <img src="http://3.10.154.164/return-files/{{best.imageUrl}}"class="img-fluid rounded-circle" alt="user-image" style="max-height: 135px; border-radius: 5% !important; min-height: 135px;">
                                </div>
                                <div class="team-info">
                                    <h3 class="mt-md-4 mt-3"> {{best.name}} {{best.surname}}</h3>
                                    <!-- <p-rating [(ngModel)]="val" [cancel]="false" readonly="true"></p-rating> -->
                                    <p>{{best.Iscore}} <i style="color:rgb(253 242 83); font-size:20px;"class="fa fa-star"></i> </p>
                                    <p style="height: 100px;">{{best.text}}</p>
                                    <button class="btn btn-primary " *ngIf="user && user.userType !== 'visitor'" [routerLink]="['lecturers']">See More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>



<p-dialog header="Application" class="application" [(visible)]="display" [modal]="true" [draggable]="false" [resizable]="false">
    <app-application></app-application>
</p-dialog>

<p-dialog header="Add New Event" class="eventDialog" [(visible)]="eventDisplay" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="form-group">
        <label for="eventName" class="title-event">Event Name</label>
        <input type="text" [(ngModel)]="eventName" class="form-control" />
    </div>
    <div class="form-group-date">
        <label class="title-event" for="eventStart">Start Date</label>
        <label for="eventStart">{{eventStartDate}}</label>
    </div>
    <div class="form-group-date">
        <label class="title-event" for="eventEnd">End Date</label>
        <label for="eventEnd">{{eventEndDate}}</label>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="onSubmitEvent()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


<p-dialog [header]="!showEvent.isOwn ? showEvent.name : 'Personal Event'" class="deleteEventDialog" [(visible)]="eventShowDisplay" [modal]="true" [draggable]="false" [resizable]="false">
    <div *ngIf="!showEvent.isOwn" style="padding: 5px;margin: 10px 10px 20px 10px;">
        <div class="form-group-date">
            <label  class="title-event">Instructor Name</label>
            <label>Professor {{showEvent.instructorName}} {{showEvent.instructorSurname}}</label>
        </div>
        <div class="form-group-date">
            <label class="title-event" >Lecture Date and Time</label>
            <label >{{showEvent.start}} - {{showEvent.time}}</label>
        </div>
        <div class="form-group-date">
            <label class="title-event" >Attended Students Number</label>
            <label >{{showEvent.attendStudent}}</label>
        </div>
        <div class="form-group-date">
            <label class="title-event" >Zoom Link</label>
            <label >{{showEvent.eventLink}}</label>
        </div>
    </div>
    <div *ngIf="showEvent.isOwn" style="padding: 5px;margin: 10px 10px 20px 10px;">
        <div class="form-group-date">
            <label  class="title-event">Event Name</label>
            <label>{{showEvent.name}}</label>
        </div>
        <div class="form-group-date">
            <label class="title-event" >Event Start Date</label>
            <label >{{showEvent.startDate}}</label>
        </div>
        <div class="form-group-date">
            <label class="title-event" >Event End Date</label>
            <label >{{showEvent.endDate}}</label>
        </div>

    </div>
    <ng-template pTemplate="footer" >
        <p-button icon="pi pi-cross" *ngIf="showEvent.isOwn" (click)="onDeleteEvent()" label="Delete Event" styleClass="p-button-text" ></p-button>
        <p-button icon="pi pi-cross" *ngIf="!showEvent.isOwn" (click)="onLeaveLecture()" label="Leave Event" styleClass="p-button-text" ></p-button>
    </ng-template>
</p-dialog>


<p-dialog [header]="showEvent.name" class="deleteEventDialog" [(visible)]="eventNotPremiumShow" [modal]="true" [draggable]="false" [resizable]="false">
    <div style="padding: 5px;margin: 10px 10px 20px 10px;">
        <div class="form-group-date">
            <label  class="title-event">Instructor Name</label>
            <label>Professor {{showEvent.instructorName}} {{showEvent.instructorSurname}}</label>
        </div>
        <div class="form-group-date">
            <label class="title-event" >Lecture Date and Time</label>
            <label >{{showEvent.start}} - {{showEvent.time}}</label>
        </div>
        <div class="form-group-date">
            <label class="title-event" >Attended Students Number</label>
            <label >{{showEvent.attendStudent}}</label>
        </div>
        <div class="form-group-date">
            <label class="title-event" >Zoom Link</label>
            <label >{{showEvent.eventLink}}</label>
        </div>
    </div>
</p-dialog>
