





.card-inner{
    text-align: center;
    display: block;
    width: -webkit-fill-available;
    font-family: "Raleway", sans-serif !important;
    scroll-behavior: smooth;
    border: 1px solid #f2f2f2;
    margin: 20px 0px;
    padding: 15px;
    border-radius: 5px;
    overflow: auto;
}
.button-shop{
    margin-top: 35px;
    text-align: right;
}

#logo
{
   margin: auto;
}


#logo a {
    float: left;
    font-size: 0.8em;
    display: initial;
    margin: 0;
    letter-spacing: 1px;
    color: #df3b31;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 20px;
    display: contents;

}

#logo a span {
    background: #df3b31;
    color: #fff;
    padding: 2px 10px;
    font-weight: 800;
    margin-right: 5px;
}

.purchase-first{
    display: flex;
    img{
      width: 60%;
    }
    span{
        border: 1px solid #cdcdcd12;
        margin-top: 15px;
        box-shadow: 0 0 1px 0px #80808030;
    }
    .premium-grid-text{
        display:grid;
        label{
            font-size: 14pt;
            font-style: italic;
            padding: 2px;
        }
    }
    .premium{
        padding: 20px 0px;
        box-shadow: 0 0 20px 0px #e2dbcf;
        color: #040404;
        margin: 0px;

        .premium-text{
            left: 0;
            display: flex;
            margin: auto 0px;
            font-size: 14pt;
            /* font-style: italic; */
            font-weight: bold;
            label{
                left: 0;
            }
        }
        .premium-cost{
            .cost{
                font-size: 26pt;
                color: #121212;
                text-shadow: 0px 1px 2px #252323;
                font-weight: bold;
            }
            .month{
                font-style: italic;
            }
        }
    }

}

.purchase-complete{
    .logo{
        display: inline-grid;
        img{
            width: 250px;
            margin-bottom: 50px;
            margin: auto;
        }
    }

}


.payment-card{
    display: flex;
    align-items: center;
    margin-top: 25px;

    .payment-card-form{
        display: flex;
        flex-flow: column;
        width: 100vh;
        .mat-form-field {
            display: inline-block;
            position: relative;
            text-align: left;
            width: 100%;
            margin-top: -4px;
        }

    }


}

:host ::ng-deep{
    .p-calendar {
        display: inline-flex;
        width: 100%;
        position: relative;
        /* padding: 15px; */
        margin-bottom: 20px;
    }
    .p-calendar .p-inputtext {
        flex: 1 1 auto;
        width: 1%;
        padding: 19px;
        border-radius: 5px;
    }
}

.register-form{
  border: 1px solid #ffffff;
  padding: 20px;
  border-radius: 15px 15px 15px 15px;
  color: #363535;
  font-weight: 600;
  background: #ffffff;
  display: inline-table;
  margin-bottom: 10px;
  margin-top: 10px;
  opacity: 90%;
  margin-inline-start: auto;
}

:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #e03b31;
}

:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #e03b31;
}

