
<div>
  <div class="banner-content">
  </div>
    <div id="inner-nav"></div>
    <div id="container" >
      <div id="profile">

        <div id="image" style="margin-bottom: 10px;">
          <img id="profile-photo" src= "http://3.10.154.164/return-files/{{admin.ImageUrl}}" alt="Profile-Image">
        </div>

          <p id="name" >{{admin.firstName}} {{admin.lastName}}<br></p>
          <hr width="100%">
          <p style="color:#8c9398">E-mail<br><span id="email">{{admin.email}}</span></p>

        <div class="ban-buttons" style="width: max-content;">
          <a href="/#/admin/contacts" class="btn" id="options">Contacts</a><br>
          <a href="/#/admin/users" class="btn" id="options">Users</a><br>
          <a href="/#/admin/applications" class="btn" style="margin-bottom: 15%;" id="options">Applications</a>
        </div>



      </div>


        <div id="info-cards">
          <h2>Users </h2>
          <div class="card" >

            <mat-card-content>
              <section class="example-section">
                <mat-radio-group [(ngModel)]="uType" (change)="onFilter()">
                  <mat-radio-button class="example-margin" [checked]="true" value="All">All</mat-radio-button>
                  <mat-radio-button class="example-margin" value="premium">Premium</mat-radio-button>
                  <mat-radio-button class="example-margin" value="non-premium">Non-Premium</mat-radio-button>
                  <mat-radio-button class="example-margin" value="instructor">Instructor</mat-radio-button>
                  <mat-radio-button class="example-margin" value="admin">Admin</mat-radio-button>
                </mat-radio-group>
              </section>
            </mat-card-content>

            <div class="card-div" *ngFor="let user of listArray" >
              <mat-card class="example-card" id="user" style="margin-bottom: 2%;">

                <div class="row">

                  <div class="col-md-2">
                    <div id="image">
                      <img id="user-photo" src= 'http://3.10.154.164/return-files/{{user.ImageUrl}}' alt="Profile-Image">
                    </div>
                  </div>

                  <div class="col-md-10" style="padding-left: 0px;">
                    <div class="row">
                      <div class="col-md-11">
                      <mat-card-header class="mat-card-header-text" style="margin-left:0%;">
                          <mat-card-title style="font-family: 'Open Sans', sans-serif;">{{user.idUser}}. {{user.firstName}} {{user.lastName}} - {{user.username}}</mat-card-title>
                          <mat-card-subtitle style="font-family: 'Open Sans', sans-serif; margin-top: 1%; ">{{user.email}}</mat-card-subtitle>
                      </mat-card-header>
                    </div>

                    <div *ngIf="user.userType !== 'admin'" class="col-md-1"><button type="button" class="banbutton"><i style="font-size: 25px;"class="fa fa-ban" aria-hidden="true" (click)="banned(user.idUser)"></i></button></div>
                  </div>
                    <mat-card-subtitle style="font-family: 'Open Sans', sans-serif; margin-top: 2%; display: flex; justify-content: flex-end;">{{user.userType}}</mat-card-subtitle>
                  </div>



                </div>

              </mat-card>

            </div>

          </div>

        </div>
      </div>

    </div>
   

